<?php

namespace {{plugin_namespace}}\{{plugin_class}}\Includes;

/**
 * Define the internationalization functionality.
 *
 * Loads and defines the internationalization files for this plugin
 * so that it is ready for translation.
 *
 * @since      0.0.1
 *
 * @package    {{plugin_namespace}}\{{plugin_class}}\Includes
 */
class {plugin_class}}_Deactivator
{

	/**
	 * Short Description. (use period)
	 *
	 * Long Description.
	 *
	 * @since    0.0.1
	 * 
	 * @return void
	 */
	public static function deactivate()
	{
	}
}
