<?php

namespace {{plugin_namespace}}\{{plugin_class}}\Includes\CLI;

use WP_CLI;

/**
 * The CLI plugin class.
 *
 * This is used to extend wp-cli for assistance with Management of the ActiveCampaign Integration
 *
 * @since      0.0.1
 *
 * @package    {{plugin_namespace}}\{{plugin_class}}\Includes
 */
class {{plugin_class}}_SubCommand
{

	/**
	 * This is an example of a file definine subcommands
	 *
	 * @since    0.0.1
	 * 
	 * @return void
	 */
    public function test( $args ) {
        WP_CLI::success( 'test:' . $args[0] );
    }
}
